accelerate==1.13.0
anthropic==0.97.0
faiss-cpu==1.13.2
glicko2==2.1.0
hdbscan==0.8.43
matplotlib==3.10.9
modal==1.4.3
numpy==2.3.5
pandas==2.3.3
python-dotenv==1.2.2
PyYAML==6.0.2
rank-bm25==0.2.2
scikit-learn==1.7.2
sentence-transformers==5.4.1
torch==2.11.0
tqdm==4.67.3
transformers==5.7.0
umap-learn==0.5.12
